/*
td {font-family: arial, helvetica, sans-serif; LINE-HEIGHT: 14pt;  font-size: 9pt}
body {font-family: arial, helvetica, sans-serif; LINE-HEIGHT: 14pt;  font-size: 9pt}
select {font-family: arial, helvetica, sans-serif; LINE-HEIGHT: 14pt; font-size: 9pt}
A {font-family: arial, helvetica, sans-serif; TEXT-DECORATION: none; TEXT-TRANSFORM: none; color: #000000}
A:hover {font-family: arial, helvetica, sans-serif; TEXT-DECORATION: underline; color:#000000}
.header {display: -moz-inline-box !important;display:inline-block;height:20px} 
.a {display: -moz-inline-box !important;display:inline-block;height:30px;vertical-align: top;} 
.b{display: block;width: 100px;}

.mlayer {
position:absolute;
z-index:10000;
visibility: hidden;
margin-top:21px;
margin-left:-6px;
width:200px;
border:0px solid #CCCCCC; background-color:#f7f7f7;
}
.mitem {padding:4px 2px 4px 5px;border-bottom:1px solid #CCC; width:100%;}
.mitem A { font-family:verdana, tahoma, arial; text-decoration:none;}
*/

.table {
	font-size: 13px;
	margin-left: 3px;
	line-height: 20px;
}

.table tr {
	line-height: 20px;
}


